[Unit]
Description=Zeropoint Generate Memorable Hostname
Documentation=https://docs.zeropoint.example.com/boot-phases
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zeropoint-set-memorable-hostname.sh
StandardOutput=journal+console
StandardError=journal+console
TimeoutSec=30
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
