[Unit]
Description=Zeropoint Agent Update Check
Documentation=https://docs.zeropoint.example.com/boot-phases
DefaultDependencies=no
After=zeropoint-configure-apt-storage.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zeropoint-update-agent.sh
StandardOutput=journal+console
StandardError=journal+console
TimeoutSec=600
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
