[Unit]
Description=Zeropoint Agent Update Check
After=network-online.target
Before=zeropoint-agent.service
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zeropoint-update-agent.sh
RemainAfterExit=yes
StandardOutput=journal+console
Environment=DEBIAN_FRONTEND=noninteractive

[Install]
WantedBy=multi-user.target