[Unit]
Description=Zeropoint Agent
After=network-online.target docker.service avahi-daemon.service zeropoint-setup-storage.service zeropoint-update-agent.service
Wants=network-online.target
Requires=docker.service avahi-daemon.service zeropoint-setup-storage.service

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
EnvironmentFile=-/etc/environment
EnvironmentFile=-/etc/zeropoint.env
ExecStart=/usr/local/bin/zeropoint-agent
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target