[Unit]
Description=Zeropoint Connectivity Services
Documentation=https://docs.zeropoint.example.com/boot-phases
After=zeropoint-utilities.target network-online.target
Requires=zeropoint-utilities.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target